@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --theme-green: #D9FF00;
  --theme-beige: #F6F0D7;
  --theme-text: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-theme-green: var(--theme-green);
  --color-theme-beige: var(--theme-beige);
  --color-theme-text: var(--theme-text)

  --font-sans: var(--font-afacad);
  --font-mono: var(--font-geist-mono);
  --font-headline: var(--font-dirtyline), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --theme-green: #D9FF00;
    --theme-beige: #F6F0D7;
    --theme-text: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-afacad), serif;
}